
@import url("href=https://fonts.google eapis.com/css2?family=Dancing+S crypt:wight@700&family=Fugaz+0ne &family=Libre+Barcode+39+Extend ed&family=Lobster&family=Noto+S erif&family=Peddana&family=Secu lar+One&display=swap");



*{padding:0;
margin: 0;
box-sizing: border-box;

}
.line{
    display: none;
}

footer{
    margin-top: 10px !important;
}
.navbarbtn{
    margin-top:10px !important;
    }
    body{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    
    .whole_page{
        color: white;
        width:100%;
        height:100%;
        margin: 20px;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        justify-content:center;
        justify-content:space-evenly;
        border-bottom: rgb(83, 82, 82) 1000px solid;
    background: no-repeat url("stars.png"), linear-gradient(160deg, rgb(216, 57, 195),#2f8ad4);
        padding-top:50px;
     background-position: center;
     background-size:contain;
    }
        
    .anupam,.shubham{
        
        padding: 10px;
        margin-left:40;
        margin-right:40px;
        width:500px;
        height:500px;
        
        display:flex;
        flex-direction:column;
        align-items: center;    
    }
    img{
        width: 300px;
        height:300px;
        object-fit:cover;
        border: solid orange 4px;
        border-radius: 30px;
        box-shadow: orange 1px 1px 20px 1px;
        margin-bottom: 20px;
        }
    .shubham img{
        border: solid rgb(144, 238, 144) 4px;
        box-shadow: rgb(157, 240, 157) 1px 1px 40px 1px;
        
    }
        .a-pic,.name{
            display:flex;
        justify-items: center; 
        align-self: center;
        text-align: center;
        align-items: center;
        }
    .name{
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 700;
font-family: 'Fugaz One', cursive;
        
        color: black;
    }
    .details{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 2000;
font-family: 'Noto Serif', serif;
        
        color: black;
        padding: 10px 20px;
        border-left:orange  solid 4px;
        border-right:orange  solid 4px;
        background-color:#ffd588;
    
    }
    .anupam .details table{
        padding:20px;
        border-collapse: collapse;
    }
    .shubham .details{
        border-left:rgb(14, 224, 14) solid 4px;
        border-right:rgb(17, 201, 17) solid 4px;
        background-color:#83ff8c;
    }
    .shubham .details table {
         padding:20px;
         border-collapse: collapse;
    }
    
    .details table tr td{
     padding: 5px;
     border-bottom: 1px solid;
    
    }
    .discription h2{
        text-transform: capitalize;
        border-bottom:orange solid 4px;
        width:fit-content;
    }
     .shubham .discription h2{
        border-bottom:rgb(78, 228, 78) solid 4px;
    
    }
        
    .discription p{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 10px;
    
    display: flex;
    word-spacing: 2px;
    flex-wrap: wrap;
    font-family: 'Peddana', serif;
    text-align: justify;
    }
    
    .discription h3{
        text-transform:uppercase;
        font-size: 30px;
        margin-top:10px;
font-family: 'Dancing Script',cursive;

        border-bottom:solid rgb(184, 180, 180) 1px;
    }
        
    .social_links{
        text-align:start;
        align-items:start;
        margin-left:-160px;
        
    }
    .shubham .social_links h2{
        border-bottom:rgb(78, 228, 78) solid 4px;
    }
    
    .social_links h2{
        text-transform: capitalize;
        border-bottom:orange solid 4px;
        margin-bottom: 20px;
        padding-top:10px;
        width:fit-content ;
        display:flex;
        font-family: 'Peddana', serif;
        text-align:center;
    }
    .social_links button{
    width: 65px;
    font-size:35px;
    height: 65px;
    color:orange;
    background-color:transparent;
    font-weight: 500;
    text-transform: capitalize;
    border:white solid;
    border-radius: 100%;
    margin:5px;
    outline: none;
    
    }
    .shubham .social_links button{
        color:rgb(138, 226, 138);
    
    }
    .social_links .fa:hover{
    color:white;
    
    }
    .social_links button:active, .fa:active{
    outline: none;
    border:none ;
    border-color: transparent;
    
    }
    .social_links #insta:hover{
    background-image: linear-gradient(120deg,yellow,red,blue);
    }
    .social_links #fb:hover{
    background-color: blue;}
    .social_links #tw:hover{
        background-color: rgb(110, 174, 233);
    }
    .social_links #in:hover{
        background-color: rgb(31, 59, 110);
    }
    

    /* responsive */
@media only screen and (max-width:400px){
    .whole_page{
        display: flex;
        flex-direction: column;
        background: white;
        border-bottom:none;
    }   
    .anupam{
        margin-bottom:20px;
        margin-top:-50px;
        background:  url("stars.png") ,linear-gradient(160deg, rgb(216, 57, 195),#2f8ad4);
        
        padding-bottom: 360px !important;
        
    }
    .shubham{
        margin-bottom:-300px;
        background:  url("Starsg.png") ,linear-gradient(160deg, rgb(216, 57, 195),#2f8ad4);

    }
    .anupam,.shubham{
        
        padding-top:50px ;
        background-repeat: round;
        background-position: top;
        background-size: contain;
        width:480px;
        height: 900px;

    }
    img{
       width: 150px;
       height:150px;    
       margin-bottom: 20px;
       }
       .name{
        color: white;
       }
   .a-pic,.name{
       margin-right: 120px;
       }
   
   .details{
       color:rgb(168, 93, 218);
       font-size: 15px;
       font-weight: 600;
       letter-spacing: 0.5px;
       margin-right: 120px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
    .discription h2{
       color:white;
   }
   .discription p{
       padding-right: 120px;
       font-size:15px;
       color: white;
       }   
       .discription h3{
           color: white;
           font-size: 20px;
           border-bottom:solid rgb(184, 180, 180) 1px;
       }
   .social_links{
       margin-left:-220px;
      color: white;
   }
   .social_links button{
   width:50px;
   font-size:30px;
   height: 50px;
   
   border: white solid;
   }
   footer{
       margin-top:320px !important;
        margin-bottom:10px !important;
   }
   }
    