

@import url("href=https://fonts.google eapis.com/css2?family=Dancing+S crypt:wight@700&family=Fugaz+0ne &family=Libre+Barcode+39+Extend ed&family=Lobster&family=Noto+S erif&family=Peddana&family=Secu lar+One&display=swap");




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
color:white ;    
  
}
body{
    display: flex;
    flex-direction: column;
}
.navbarbtn{
    margin-top:10px !important;
    }

.whole_section{
    padding: 5px;
    margin:5px;
    display:inline ;
    background: url("../../bg2-4.png" ), linear-gradient(160deg, rgb(216, 57, 195),#2f8ad4);
    

}
.whole_id{
    display: inline;
    margin-left:20px ;
}
.id{
    display: flex;
    justify-items: center;
    justify-content:space-evenly;
    align-items: center;   
    border-bottom:solid white 1px;
    padding-bottom: 10px; 
    padding-left:10px; 
    position: relative;
    
}
 .h_s{
    text-transform: capitalize;
font-family:'Secular One', sans-serif;
/* #2f8ad4,rgb(216, 57, 195) */
    font-size: 40px;
    border-bottom: 4px solid mediumspringgreen;
    width:fit-content;
    margin-left:20px;
    
} 
.id .picture {
    margin-left: 20px;
   perspective:200px;
   transition:.5s;
   
   }
.id .picture img{
width: 250px;
height: 250px;
border: mediumspringgreen solid  5px ;
border-radius: 100%;
box-shadow:mediumspringgreen 5px 0px 10px 0px;
}
.id  .details{
    border-left:solid mediumspringgreen 5px ;
    background:transparent;
    padding:20px 30px;
font-family: 'Peddana', serif;
    align-content: justify;
}
.id  .details table tr td{
    font-size: 30px;
    text-transform: capitalize;
    align-content: justify;
    border-spacing: 5px;
    padding: 10px;

} 
.discription{
    padding: 20px;
    border-bottom:solid white 1px ;
    padding-bottom: 10px; 
     word-wrap: normal;
   
}
.discription h2{
    text-transform: capitalize;
font-family:'Secular One', sans-serif;
    font-size: 40px;
    border-bottom: mediumspringgreen solid 4px;
    width: fit-content;
    
}
.discription p{
padding-top: 20px;
word-wrap: normal;
word-spacing: 3px;
text-transform: capitalize;
font-size:25px;
font-family: 'Peddana', serif;

text-align:justify ;    
}

.social_links{
    display: inline;    
    margin: 10px 20px;
    color: white;

}
.social_links h2{
    text-transform: capitalize;
font-family:'Secular One', sans-serif;    
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: mediumspringgreen solid 4px;
    width: fit-content;
}
.social_links ul{
display: flex;
margin-left:10px;

}
.social_links ul li{
list-style-type:none;;


}
.social_links ul li a{
text-decoration-line: none;
padding:10px 10px;
font-size: 30px;

width: 50px;
height: 50px;
align-items: center;
padding: 10px;
border-radius:50px;
margin-right:20px;
font-size:30px;
color: white;
background: transparent;
border:solid 2px ;
box-shadow:-1px -2px 1px  black;

}

.social_links .fa:hover{
    border:mediumspringgreen solid 2px;
    background: transparent;
    box-shadow:-1px -2px 10px mediumspringgreen;
 }
 
.feedback{
    border-top:solid mediumspringgreen 4px;
    padding: 10px 20px;
    margin-left: 0px;
    margin-TOP: 20px;
    
    background-color:transparent;
    text-transform:capitalize;
    font-size:25px;
    box-shadow: mediumspringgreen -2px -2px 5px ;
}
.feedback button{
    border:transparent solid;
    color:white;
    border-radius: 10px;
    background-color:rgb(75, 238, 143);
    text-transform: capitalize;
    font-weight: 900;
font-family: 'Peddana', serif;
transition: .5s;
font-size: 25px;
}
.feedback button:hover{
background-color:transparent;
color:mediumspringgreen;
border-bottom:mediumspringgreen solid;
text-shadow: mediumspringgreen 1px 1px 5px;
}

 /* responssive */
 @media only screen and (max-width:375px){
    
    .whole_id{
        margin-left:0px ;
    }
    
    
    .whole_section{
    	margin-right: 0px;
    background: url("../../bg2-4.png" ), linear-gradient(160deg, rgb(216, 57, 195),#2f8ad4);
    background-position: center;
    background-size: 500px;
  
}
    .id{
        display: flex;
        border-bottom: none;
        flex-direction: column;
        padding-bottom: 10px; 
        padding-left:0px;
        margin-top: 50px; 
        margin-right:0px ;
        
    }
      .whole_id .h_s{
        margin-left:100px;
        padding-left:0px;
        font-size: 30px;
        font-family: 'Fugaz One', cursive;
        
    } 
  
    .id .picture {
        margin-bottom: 20px;
        border: mediumspringgreen solid 4x !important;
        margin-left:0px;
        
       }
    .id  .details{
        border-right:solid rgb(0,155,96) 5px ;
         border-left:solid rgb(0,155,96) 5px ;
        padding:0px 0px;
        padding-left: 0px;
        margin-left:0px;
        margin-right:0px;
        margin-top: 10px;
        width: 350px;
        height:fit-content;
        text-shadow: gray 1px 1px 5px;
        background: mediumspringgreen;
    }
    .bubble {
    	 background:url(" science_s_img/soap_bubbles_PNG47.png");
    	 width: 270px;
    	 height: 270px;
    	position: relative;
    	background-size: contain;
    	background-position: top;
    	top:0;
    	margin-top:-282px;
    	animation: round 3s linear infinite;
    	 
    }
    @keyframes round{
    	to{
    		transform: translatez(360deg);
    	}
    }
    	
    .id  .details table tr td{
        font-size: 18px;
        
}
    .discription h2{
        font-size: 30px;
        margin-left: -10px;  
        font-family: 'Fugaz One', cursive;
    }
    .discription p{
        font-size: 20px;
        margin: -10px;
    }
    .social_links{
        border-bottom:none;
        padding: 20px;
        padding-bottom: 10px; 
       
    }
    .social_links h2{
        text-transform: capitalize;
        font-family: 'Fugaz One', cursive;
        font-size: 30px;
        border-bottom: mediumspringgreen solid 4px;
        width: fit-content;
    }
    .social_links ul{
    display: flex;
    margin-left:-10px;
    
    }
    .social_links ul li{
    list-style-type:none;
    width: 50px;
    height: 50px;
    align-items: center;
    margin-right: 10px ;
    margin-left: 10px ;

    
    
    }
    .social_links ul li a{
    text-decoration-line: none;
    padding:10px 10px;
    font-size: 30px;
    
    }
    .social_links .social_links .fa{
    color: mediumspringgreen;
    }
    .feedback{
        padding: 10px 20px;
        margin-left: 0px;
        margin-TOP: 20px;
        font-size:20px;
    }
    .feedback button{
    transition: .5s;
    font-size: 20px;
    }
    footer{
        margin-bottom:10px !important ;
    }
    
 }
